* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

/* MENU */

#nav {
    background-image: url(person-holding-frame-with-open-nature-landscape-concept\ \(4\).jpg);
    background-size: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 4px solid white; */
    min-width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    z-index: 999;
}

#nav.rolagem {
    background-color: beige;
    background-image: none;
    padding-top: .09%;
    padding-bottom: .09%;
}

#nav img {
    width: 200px;
}

#nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#nav a:not(:last-child) {
    margin-right: 50px;
}

.search {
    background-color: transparent;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    transition: .5s;
}

.search.ativar {
    width: 325px;
}

.search .lupa-buscar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search .btn-fechar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.search .btn-fechar i {
    font-size: 15px;
    margin-left: 5px;
    
}

.search .lupa-buscar i {
    font-size: 20px;
    margin-left: 40px;
    
}

.search .input-buscar {
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
    
}

.search .input-buscar input {
    border: none;
    outline: none;
    font-size: 15px;
    padding: .7%;
    background-color: white;
}

.search .input-buscar input:active {
    text-decoration: none;
}


/* HOME */

body .home {
    min-height: 90vh;
    background-color: beige;
    background-image: url(person-holding-frame-with-open-nature-landscape-concept\ \(4\).jpg);
    background-size: 100%;
    background-attachment: fixed;

}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home aside {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.home aside img {
    width: 100%;
    border-bottom-right-radius: 20%;
}


.home article {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home article h1 {
    padding-top: 8rem;
    font-size: 8rem;
}

.home article p {
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 10%;
    text-align: center;
}
/* SOBRE */

.h1-sobre {
    background-color: beige;
    font-size: 7em;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    color: hsl(0, 0%, 100%, .7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body .sobre {
    max-width: 100%;
    min-height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media (max-width: 1000px) {
    body .sobre {
        flex-direction: column;
    }

    .sobre aside {
        min-width: 100%;
        margin-top: 5%;
    }

    .sobre aside h1 {
        margin-bottom: 5%;
    }

    .sobre article {
        min-width: 100%;
        padding: 2%;
    }
}

.sobre aside {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    padding-top: 0%;
}

.sobre aside h1 {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5%;
    text-align: center;
}

.sobre aside p {
    font-size: 1.1rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sobre article {
    max-width: 50%;
    padding: 2%;
    padding-top: 0;
}

.sobre article img {
    width: 400px;
    height: 300px;    
}

/* INTERVALO */

body .intervalo {
    max-width: 100%;
    min-height: 100vh;
    background-image: url(person-holding-frame-with-open-nature-landscape-concept\ \(5\).jpg);
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intervalo h1 {
    font-size: 8rem;
    color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 5px black;
    transition: all .8s ease-in-out;
    cursor: default;
}

.intervalo h1:hover {
    color: black;
}
/* SERVIÇOS */

.servicos h1 {
    background-color: beige;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    color: hsl(0, 0%, 100%, .7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body .servicos {
    max-width: 100%;
    min-height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 600px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    /* left: 25%; */
    padding-top: 5%;
    /* transform: translate(-50%, -50%); */
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.bar:hover {
    background-color: white;
    transition: all .35s ease-in-out;
}

.content input {
    display: none;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}
#slide2:checked ~ .s1 {
    margin-left: -25%;
}
#slide3:checked ~ .s1 {
    margin-left: -50%;
}
#slide4:checked ~ .s1 {
    margin-left: -75%;
}

/* CONTATO */

body .contato {
    max-width: 100%;
    background-color: white;
}

.contato h1 {
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.contato p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contato ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato li {
    font-size: 2.5rem;
    padding: 2%;
    padding-bottom: 5%;
}

.contato a {
    color: beige;
    -webkit-text-stroke: 1.15px grey;
    transition: all .3s ease-in-out;
}

.contato a:hover {
    color: grey;
}

/* FOOTER */

footer {
    background-color: hsl(0, 0%, 50%, .6);
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 4%;
    padding-bottom: 2%;
    gap: 15%;
}

footer aside h1 {
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer aside h3 {
    padding-bottom: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

footer aside h6 {
    background-color: grey;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atalhos {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
}

.atalhos h1 {
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 15%;
}

.atalhos a {
    text-decoration: none;
    color: grey;
    padding-bottom: 3%;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.redes {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
}

.redes h1 {
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10%;
}

.redes a {
    text-decoration: none;
    color: grey;
    padding-bottom: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .91rem;
}

@media (max-width: 720px) {
    
    body .home {
        background-size: cover;
    }

    #nav {
        background-image: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: beige ;
    }

    #nav a {
        font-size: 1rem;
        
    }

    .search {
        display: none;
    }

    .sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .home article {
        max-width: 100%;
        text-align: center;
    }

    .home article p {
        font-size: 1.1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        /* padding: 10%; */
        max-width: 100%;
        /* background-color: hsl(60, 56%, 91%); */
        /* text-align: center; */
    }

    .h1-sobre {
        font-size: 6rem;
        display: flex;
        align-items: baseline;
        justify-content: center;
        color: hsl(0, 0%, 0%, .4);
    }

    .sobre article  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    body .intervalo {
        max-width: 100%;
        background-size: cover;
    }

    .intervalo h1 {
        font-size: 4rem;
    }

    .servicos h1 {
        font-size: 4rem;
        display: flex;
        align-items: baseline;
        justify-content: center;
        color: hsl(0, 0%, 0%, .6);
    }

    .contato h1 {
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(0, 0%, 0%, .6);
    }

    .content {
        max-width: 100%;
        height: 70vh;
        /* padding: 2rem; */
    }
}
