* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

/* MENU */

#nav {
    background-image: url(person-holding-frame-with-open-nature-landscape-concept\ \(4\).jpg);
    background-size: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 4px solid white; */
    min-width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    z-index: 999;
}

#nav.rolagem {
    background-color: beige;
    background-image: none;
    padding-top: .09%;
    padding-bottom: .09%;
}

#nav img {
    width: 200px;
}

#nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#nav a:not(:last-child) {
    margin-right: 50px;
}

.search {
    background-color: transparent;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    transition: .5s;
}

.search.ativar {
    width: 325px;
}

.search .lupa-buscar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search .btn-fechar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.search .btn-fechar i {
    font-size: 15px;
    margin-left: 5px;
    
}

.search .lupa-buscar i {
    font-size: 20px;
    margin-left: 40px;
    
}

.search .input-buscar {
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
    
}

.search .input-buscar input {
    border: none;
    outline: none;
    font-size: 15px;
    padding: .7%;
    background-color: white;
}

.search .input-buscar input:active {
    text-decoration: none;
}


/* HOME */

body .home {
    min-height: 90vh;
    background-color: beige;
    background-image: url(person-holding-frame-with-open-nature-landscape-concept\ \(4\).jpg);
    background-size: 100%;
    background-attachment: fixed;

}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home aside {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.home aside img {
    width: 100%;
    border-bottom-right-radius: 20%;
}


.home article {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home article h1 {
    font-size: 10rem;
}

.home article p {
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 10%;
    text-align: center;
}
/* SOBRE */

.h1-sobre {
    background-color: beige;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    color: hsl(0, 0%, 100%, .7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body .sobre {
    max-width: 100%;
    min-height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sobre aside {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    padding-top: 0%;
}

.sobre aside h1 {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5%;
    text-align: center;
}

.sobre aside p {
    font-size: 1.1rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sobre article {
    max-width: 50%;
    padding: 2%;
    padding-top: 0;
}

.sobre article img {
    width: 400px;
    height: 300px;    
}

/* INTERVALO */

body .intervalo {
    max-width: 100%;
    min-height: 100vh;
    background-image: url(person-holding-frame-with-open-nature-landscape-concept\ \(5\).jpg);
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intervalo h1 {
    font-size: 12rem;
    color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 5px black;
    transition: all .8s ease-in-out;
    cursor: default;
}

.intervalo h1:hover {
    color: black;
}
/* SERVIÇOS */

.servicos h1 {
    background-color: beige;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    color: hsl(0, 0%, 100%, .7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body .servicos {
    max-width: 100%;
    min-height: 100vh;
    background-color: beige;
}

.content {
    height: 600px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 25%;
    padding-top: 5%;
    /* transform: translate(-50%, -50%); */
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.bar:hover {
    background-color: white;
    transition: all .35s ease-in-out;
}

.content input {
    display: none;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}
#slide2:checked ~ .s1 {
    margin-left: -25%;
}
#slide3:checked ~ .s1 {
    margin-left: -50%;
}
#slide4:checked ~ .s1 {
    margin-left: -75%;
}

/* CONTATO */

body .contato {
    max-width: 100%;
    min-height: 100vh;
    background-color: beige;
}

/* FOOTER */

footer {
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: space-around;
}