* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5.5rem);
}

/* HEADER */

/* header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .6%;
}

header a {
    text-decoration: none;
    font-size: 1.05rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header a:hover {
    color: aqua;
    transition: all .35s ease-in-out;
} */

/* MENU */

nav {
    background-color: antiquewhite;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 4px solid white; */
    min-width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

nav img {
    width: 200px;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

nav a:not(:last-child) {
    margin-right: 50px;
}

.search input {
    border: none;
    font-size: 1.05rem;
}

/* HOME */

body .home {
    min-height: 100vh;
    background-color: antiquewhite;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home aside {
    min-width: 50%;
    background-color: rgb(100%, 100%, 100%, .8);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home aside h1 {
    font-size: 3rem;
}


.home article {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home article h1 {
    font-size: 3rem;
}

.home article p {
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 50%;
    padding-top: 5%;
    text-align: center;
}
/* SOBRE */

body .sobre {
    max-width: 100%;
    min-height: 100vh;
    background-color: beige;
}

/* SERVIÇOS */

body .servicos {
    max-width: 100%;
    min-height: 100vh;
    background-color: blanchedalmond;
}

/* CONTATO */

body .contato {
    max-width: 100%;
    min-height: 100vh;
    background-color: bisque;
}